[Unit]
Description=restic backup profile %i
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/resticctl start %i
Environment=HOME=/root
