[Unit]
Description=Cleanup of restic %i repository
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/resticctl cleanup %i
Environment=HOME=/root
